@use "helpers" as *;

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.inline-icon {
  --size: #{rem(30)};
  --gap: #{rem(10)};

  display: inline-flex;
  align-items: center;
  column-gap: var(--gap);

  &::after {
    width: var(--size);
    height: var(--size);
    content: "";
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--arrow {
    --size: #{rem(15)};
    --gap: #{rem(9)};
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2212%22%20viewBox%3D%220%200%2015%2012%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M14.0996%206C14.0996%206.19609%2013.9885%206.38614%2013.7793%206.49023L13.7783%206.49121C13.0377%206.84574%2012.3761%207.19937%2011.7949%207.55078C10.5503%208.30365%209.68138%209.04486%209.17969%209.76562C8.96604%2010.0729%208.81702%2010.3744%208.7373%2010.6699C8.65379%2010.9786%208.30495%2011.1505%207.97656%2011.0859C7.69008%2011.0296%207.47874%2010.8068%207.47852%2010.541C7.47852%2010.5201%207.47968%2010.4983%207.48242%2010.4766L7.49512%2010.4111C7.85472%209.07507%209.08388%207.80924%2011.1865%206.56055L1.53809%206.56055C1.20103%206.56055%200.900556%206.32423%200.90039%206.00098C0.90039%205.67759%201.20094%205.44141%201.53809%205.44141L11.1885%205.44141C9.08475%204.19237%207.85546%202.92671%207.49512%201.58984L7.49512%201.58789C7.4846%201.54631%207.47852%201.50285%207.47852%201.45996C7.47866%201.19386%207.69094%200.971481%207.97559%200.914062C8.30435%200.848742%208.65408%201.02148%208.7373%201.33105C8.81702%201.6264%208.96531%201.928%209.17871%202.23437C9.68099%202.95575%2010.5503%203.69641%2011.7949%204.44922C12.3759%204.80117%2013.0375%205.15423%2013.7783%205.50879L13.7793%205.50977C13.9885%205.61384%2014.0996%205.80392%2014.0996%206Z%22%20fill%3D%22black%22%20stroke%3D%22black%22%20stroke-width%3D%220.2%22%2F%3E%3C%2Fsvg%3E");
    }
  }
}
