@use "../helpers" as *;

.testimonials-list {
  padding: fluid(60, 212) 0 fluid(60, 180) 0;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: fluid(16, 32);

    @include small {
      grid-template-columns: 1fr;
      gap: fluid(40, 64);
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: fluid(40, 64);

    &:nth-child(2) {
      padding-top: fluid(30, 58);

      @include small {
        padding-top: 0;
      }
    }
  }

  &__item {
  }
}

.item-testimonials {
  padding: fluid(40, 60) fluid(16, 32) fluid(28, 40) fluid(16, 32);
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: fluid(24, 32);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: fluid(16, 32);
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2280%22%20height%3D%2260%22%20viewBox%3D%220%200%2080%2060%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M29.478%200V4.76744C22.8009%208.33333%2018.0207%2012.0543%2015.1374%2015.9302C12.2541%2019.8062%2010.8124%2024.031%2010.8124%2028.6047C10.8124%2031.3178%2011.1918%2033.1783%2011.9505%2034.186C12.6334%2035.2713%2013.4681%2035.814%2014.4545%2035.814C15.4409%2035.814%2016.7687%2035.5426%2018.438%2035C20.1073%2034.3798%2021.6248%2034.0698%2022.9906%2034.0698C26.1015%2034.0698%2028.7951%2035.2713%2031.0714%2037.6744C33.4236%2040%2034.5997%2042.8682%2034.5997%2046.2791C34.5997%2050%2033.196%2053.2171%2030.3885%2055.9302C27.5811%2058.5659%2024.0908%2059.8837%2019.9176%2059.8837C14.8339%2059.8837%2010.2433%2057.6357%206.146%2053.1395C2.04867%2048.6434%200%2043.1008%200%2036.5116C0%2028.7597%202.50393%2021.5504%207.51177%2014.8837C12.5955%208.13954%2019.9176%203.17829%2029.478%200ZM74.5369%200.348837V4.76744C66.8734%209.26357%2061.8276%2013.2946%2059.3995%2016.8605C56.9715%2020.4264%2055.7575%2024.6124%2055.7575%2029.4186C55.7575%2031.5891%2056.1748%2033.2171%2057.0094%2034.3023C57.8441%2035.3876%2058.7166%2035.9302%2059.6272%2035.9302C60.4618%2035.9302%2061.7138%2035.6202%2063.383%2035C65.0523%2034.3798%2066.7216%2034.0698%2068.3909%2034.0698C71.5018%2034.0698%2074.1954%2035.2326%2076.4717%2037.5581C78.8239%2039.8062%2080%2042.5969%2080%2045.9302C80%2049.7287%2078.5204%2053.0233%2075.5612%2055.814C72.6779%2058.6047%2069.1117%2060%2064.8626%2060C59.8548%2060%2055.3401%2057.7907%2051.3187%2053.3721C47.2972%2048.9535%2045.2865%2043.4496%2045.2865%2036.8605C45.2865%2028.7209%2047.8284%2021.3178%2052.9121%2014.6512C57.9958%207.90698%2065.2041%203.13953%2074.5369%200.348837Z%22%20fill%3D%22%23E2AB5B%22%2F%3E%3C%2Fsvg%3E");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: fluid(60, 80);
    height: fluid(40, 60);
  }

  &__text {
    br {
      display: block !important; 
    }
  }

  &__author {
    font-style: normal;
    font-weight: 700;
    width: 100%;
    text-align: right;
  }
}
