<footer class="new-footer">
  <div class="new-footer__container container-base">
    <p class="new-footer__text">
      Disclaimer: This website does not create an attorney-client relationship, and no attorney-client relationship will
      be created or legal advice given through your use of this website. No special relationship or privilege exists
      between you and this law firm by use of this website. An attorney-client relationship is only created upon
      entering into a written engagement agreement. This website is for general informational purposes only and does not
      review or answer any questions, provide any legal advice, or analyze applicable law and apply it to your specific
      requirements. For specific information regarding your matter, please contact us to schedule a confidential
      appointment. © 2025 Mitchell D. Adler, PA. All Rights Reserved.
    </p>
    <div class="new-footer__body">
      <div class="new-footer__body-top">
        <a href="/" class="new-footer__logo-wrapper">
          <img src="/images/logo.webp" alt="" class="new-footer__logo-image" />
        </a>
        <nav class="new-footer__menu" id="footer-nav-menu">
          <ul class="new-footer__menu-list">
            <li class="new-footer__menu-item">
              <a href="#" class="new-footer__menu-link">HOME</a>
            </li>
            <li class="new-footer__menu-item">
              <a href="#" class="new-footer__menu-link">ABOUT</a>
            </li>
            <li class="new-footer__menu-item">
              <a href="#" class="new-footer__menu-link">PRACTICE AREAS</a>
            </li>
            <li class="new-footer__menu-item">
              <a href="#" class="new-footer__menu-link">TESTIMONIALS</a>
            </li>
            <li class="new-footer__menu-item">
              <a href="#" class="new-footer__menu-link">CONTACT US</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="new-footer__body-bottom">
        <p class="new-footer__copyright">
          © 2025 Adler Law. Website by <a href="#">Media Components</a> | <a href="#">Privacy Policy</a>
        </p>
        <a href="#" class="new-footer__google-link" data-adaptive-dom="footer-nav-menu,575.98,last">
          <img src="/images/goolge.png" alt="" class="new-footer__google-image" />
        </a>
      </div>
    </div>
  </div>
</footer>
