<div class="htop-bar">
  <address class="htop-bar__container container-base">
    <div class="htop-bar__row htop-bar__row--left">
      <div class="htop-bar__item">
        <span class="htop-bar__item-term">OUR OFFICE</span>
        <a href="#" class="htop-bar__item-description">6919 SW 18th Street Suite 201 Boca Raton, FL 33433</a>
      </div>
    </div>
    <div class="htop-bar__row">
      <div class="htop-bar__item">
        <span class="htop-bar__item-term">phone</span>
        <a href="#" class="htop-bar__item-description">(561) 372-2390</a>
      </div>
      <div class="htop-bar__item">
        <span class="htop-bar__item-term">fax</span>
        <a href="#" class="htop-bar__item-description">(561) 372-2390</a>
      </div>
    </div>
  </address>
</div>
